<!DOCTYPE html>
<html>
    <title>Restaurants</title>
    <body>
        <h1>Rajgad Restaurants</h1><br><u>*veg & Non-Veg*</u>
            <h1>*GOOD FOOD, GOOD FRIEND, GOOD FAMILY.....*</h1>
            <img src="https://ik.imagekit.io/venuemonk/assets/noida/a-grill-company-sector-32/images/original/a-grill-company-sector-32-7.jpg"width="1000" height="500"><br>
            <img src="https://i.guim.co.uk/img/media/0acd3ed1af8de9abc55fbc685ed255e7d65bbd1c/182_161_5602_3361/master/5602.jpg?width=620&dpr=2&s=none" width="500" height="300"><br>
            <p>It's official! Coffee is good for you  just like red wine, <br>dark   chocolate, beer …</p>
            <img src="//imgk.timesnownews.com/story/non-veg-thali-calories.gif?tr=w-600,h-450,fo-auto"width="400" height="400"><br>
            <h3>*Vegetarian sources of iron*</h3>
            <ol>
               <li>pulses, such as kidney beans, chickpeas and lentils.</li>
               <li>dried fruit, such as apricots</li>
               <li>. dark green vegetables, such as watercress, broccoli and spring greens.</li>
               <li>wholemeal bread and flour</li>
               <li>fortified cereals (with added iron)</li>
                <li>nuts....</li>
            </ol>
            <img src="https://static.wixstatic.com/media/91e241_475faa4fa56341f3878699dde5ab4904~mv2.jpg"width="500" height="300"><br>
              <h3>*Non Vegetarian Food Items Across India*</h3> 
             <ul>
                <li>Chicken Chettinad.</li>
                <li>Bheja Masala</li>
                <li> Rogan Josh.</li>
                <li> Chicken Tikka.</li>
                <li> Kankada Jhola.</li>
                <li>Poora Haah.</li>
                <li> Keema Matar.</li>
             </ul>
             <html>
        <a href="https://www.Order food online in , food delivery in - Zomato" target="_blank">Order food online in , food delivery in - Zomato</a>

</html>
  

